@using RockstarsIT_BLL.Dto
@using RockstarsIT.Models
@model RockstarsIT.Models.FullSurveyViewModel

<head>
    <link rel="stylesheet   " href="~/css/Answer.css/Chart.css" />
</head>

<h2>@Model.Title</h2>

<canvas id="radarChart" class="custom-chart"></canvas>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var ctx = document.getElementById('radarChart').getContext('2d');
        var radarChart = new Chart(ctx, {
            type: 'radar',
            data: {
                labels: @Html.Raw(Json.Serialize(Model.Questions.Select(q => q.Title))),
                datasets: [{
                    label: 'Gemiddelde resultaat',
                    data: @Html.Raw(Json.Serialize(Model.Questions.Select(q => q.AverageResult))),
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    r: {
                        angleLines: {
                            display: false
                        },
                        min: 0,
                        max: 2,
                        ticks: {
                            stepSize: 0.5,
                            callback: function (value) {
                                return value.toFixed(1);
                            }
                        },
                        grid: {
                            color: 'rgba(0, 0, 0, 0.1)'
                        }

                    }
                }
            }
        });
    });
</script>
