@model IEnumerable<RockstarsIT.Models.AnswerViewModel>

@{
    ViewData["Title"] = "Answers";
}

<h2>Vraag 1: Hoe vind je het bedrijf?</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedback)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ResultSymbol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feedback)
                </td>
            </tr>
        }
    </tbody>
</table>
