@model IEnumerable<SurveyViewModel>

@{
    ViewData["Title"] = "Enquête overzicht";
}

<link rel="stylesheet" href="~/css/Squads.css/Index.css" />
<div class="header-container">
    <h2>Enquêtes</h2>
    <a asp-action="Create" class="btn btn-primary voeg-toe-button">TOEVOEGEN</a>
</div>


<div class="grid">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="card">
                <a class="plus-button" asp-action="Edit" asp-route-id="@item.Id" aria-label="Add Item">+</a>
                <div class="card-header">
                    <h2>@item.Title</h2>
                </div>
                <div class="card-body">
                    <p>@item.Description</p>
                    <div class="actions">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Details</a>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>Geen Enquêtes gevonden.</p>
    }
</div>

