@model RockstarsIT.Models.SquadViewModel

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/Squads.css/Index.css" />

<h3>Weet je zeker dat je @Model.Name wilt verwijderen?</h3>
<div>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Bevestigen" class="btn btn-danger" /> |
        <a asp-action="Index">Terug</a>
    </form>
</div>
